.navbar {
  .btn-logout {
    display: none;
    @media (min-width: 500px){
      display: inline-block;
    }
  }

  .navlogin-container  {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @media (max-width: 500px){
      display: none;
    }

    .form-group {
      display: flex;
      flex-direction: row;
      margin: 0;

      input {
        max-width: 12em;
        justify-content: space-around;
        margin: .5em .5em 0 .5em;
      }
      button {
        max-width: 8em;
        justify-content: space-around;
        margin: .5em .5em 0 .5em;
      }
    }
  }

  .btn-dropdown  {
    padding: 10%;
    span{
      font-size: 1.5em;

      @media (min-width: 500px){
        display: none;
      }
    }
  }
}
