@import "theme";

.home {
  .gallery-list-container {
  width: 70%;
  margin: 0 15%;
  background-color: $app-secondary;

  ul {
    padding: 0px;
  }

  li {
    list-style: none;
  }
}

  .panel-heading {
    background-color: $app-primary;
    span {
      font-weight: bold;
      color: $app-secondary;
    }

    span:hover {
      color: $app-black;
    }
  }

  .thumbnail-container {
    width: 50%;
    margin: 0 25%;
    background-color: transparent;
  }
}
