@import "theme";

.home {
    width: 100%;
    margin: 0 auto;
    padding: 2%;

    input,
    select {
      width: 80%;
      font-size: 100%;
      border:none;
      border: 1.5px solid $app-primary;
      margin: 3%;
      padding: 1% 0;
      color: $app-black;
    }

    ul {
      padding: 0px;
    }
    li {
      list-style: none;
    }

    .create-gallery-container {
        width: 60%;
        padding: 3%;
    }


}
