<main class="home">

  <!--
    - ng-repeat shows each gallery created
    - delete-done - callback with & - galleryData is mapped to the
      galleryData property on the object set in the js file.
    - if there was another object property set in the js, there
      would be a second argument passed into galleryDeleteDone
    - Gallery passed in via 1 way databinding
    - Gallery passed into upload pic
  -->

  <create-gallery> </create-gallery>


    <searchbar class="searchbar" search-term="homeCtrl.name"></searchbar>
    <searchbar class="searchbar" search-term="homeCtrl.desc"></searchbar>

  <div class="row">
    <nav class="gallery-list-container">
      <ul>
        <gallery-li ng-repeat="item in homeCtrl.galleries | gallerySearch:homeCtrl.name:homeCtrl.desc"
          gallery="item"
          delete-done="homeCtrl.galleryDeleteDone(galleryData)"
          ng-click="homeCtrl.currentGallery=item">
        </gallery-li>
    </ul>
    </nav>
  </div>

    <div class = "row">
      <thumbnail-container ng-if="homeCtrl.currentGallery" gallery="homeCtrl.currentGallery"> </thumbnail-container>
    </div>


</main>
