<main class="home">
  <create-gallery> </create-gallery>
  <ul >
    <li ng-repeat="gallery in homeCtrl.galleries">
      <p> {{gallery.name}}</p>
      <p> {{gallery.desc}}</p>
      <p> {{gallery._id}}</p>
      <button ng-click="homeCtrl.deleteGallery(gallery, gallery._id)"> - </button>
      <form
        name="updateForm"
        ng-submit= "homeCtrl.updateGallery(updateForm.gallery, gallery._id)"
        novalidate>
        <input ng-model ="updateForm.gallery.name" name="name" type="text" placeholder="name">
        <input ng-model = "updateForm.gallery.desc" desc="desc" type="text" placeholder="description">
        <button> update </button>
      </form>
    </li>
  </ul>
