@import "theme";

.create-gallery-container {
  width: 70%;
  margin: 0 15%;
  padding: 3%;
  margin-bottom: 3%;
  background-color: $app-primary;

  h2 {
    color: $app-black;
    margin: 3%;
    padding: 1% 0;

  }

  .btn-add {
    background-color: $app-secondary;
    border: 1px solid $app-primary;
    color: $app-black;
    margin: 3%;
  }

  .btn-add:hover {
    background-color: $app-white;
  }

  label {
    margin: 3% 10%;
    padding: 1% 0;
  }
  input,
  select {
    width: 80%;
    font-size: 100%;
    border:none;
    border: 1.5px solid $app-secondary;
    margin: 3% 10%;
    padding: 1% 0;
    color: $app-black;
  }

}
