<main class="home">
  <create-gallery> </create-gallery>
      <!-- we took all this logic, and form to update or delete gallery, and move it into a gallery-li.js file as a component, and use binding to access it here -->
      <!-- <h3 ng-show="">Galleries</h3>
      <h5 ng-repeat="gallery in homeCtrl.galleries">
      <p>Name: {{gallery.name}}</p>
      <p>Description: {{gallery.desc}}</p>
      <form
        name="updateForm"
        ng-submit="homeCtrl.updateGallery(updateForm.gallery, gallery._id)"
        novalidate>
        <button class="btn btn-primary" ng-click="homeCtrl.deleteGallery(gallery, gallery._id)"> - </button>
        <input ng-model="updateForm.gallery.name" name="name" type="text" placeholder="name">
        <input ng-model="updateForm.gallery.desc" name="desc" type="text" placeholder="description">
        <button class="btn btn-primary"> Update </button>
      </form> -->
      <nav class="gallery-list-container">
        <ul>
          <gallery-li ng-repeat="item in homeCtrl.galleries" gallery="item"></gallery-li>
        </ul>
      </nav>
</main>
