<section class="gallery-container">
  <form name="galleryForm"
    class="form-inline"
    novalidate
    ng-submit="galleryCtrl.createGallery()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input name="name"
        class="form-control"
        type="text"
        uib-tooltip="name required"
        ng-model="galleryCtrl.gallery.name"
        required>
        <!-- whatever you type into the input on the ng-model is going to recieve the value of whatever the user put in, the model and input has two way data binding -->
        <!-- any kind of input can take ng-model -->
        <!-- galleryCtrl.createGallery takes in a this.gallery so you have to set the model to galleryCtrl.gallery.name -->
    </div>
    <div class="form-group">
      <label for="desc">Description:</label>
      <input name="desc"
        class="form-control"
        type="text"
        uib-tooltip="description required"
        ng-model="galleryCtrl.gallery.desc"
        required>
    </div>
    <button class="btn btn-primary" type="submit">+</button>
</section>
