<main class="home">
  <gallery></gallery>
  <ul>
    <li name="gallery" ng-repeat="gallery in homeCtrl.galleries">
      <p>{{gallery.name}}</p>
      <p>{{gallery.desc}}</p>
      <p>{{gallery._id}}</p>
      <form
        name="updateForm"
        ng-submit="call">
        <input name="name" type="text" placeholder="name">
        <input name="desc" type="text" placeholder="description">
        <button class="btn btn-primary"
        ng-click="homeCtrl.deleteGallery(gallery._id)">Delete</button>
    </li>
  </ul>
</main>
