@import "theme";

.navbar {
  background-color: $app-info;
  border: none;
  height: 7rem;

  .navbar-brand {
    color: $app-black;
    font-family: $app-title;
    font-size: 3em;
    margin-top: .25em;
  }

  button {
    margin-top: .25em;
    margin-right: 1em;
  }
}
