<section class="navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">[DemoApp]</a>
    <div ng-hide="navbarCtrl.hideButtons">
      <button
        ng-class="btn pull-right btn-default navbar-btn btn-logout">
        logout
      </button>
      <div class="btn-group pull-right" uib-dropdown>
        <button
          id="btn-append-to-body"
          type="button"
          class="btn btn-dropdown btn-primary navbar-btn"
          uib-dropdown-toggle>
          <span class="glyphicon glypicon-menu-hamburger"></span>
        </button>

      </div>
    </div>
  </div>
</section>
