<section class="login">

  <form
    name="loginForm"
    ng-submit="loginCtrl.login()"
    novalidate>

    <div
      ng-class="{
        'has-error': loginform.username.$invalid && loginForm.submitted,
        'has-success': loginForm.username.$valid,
      }"
      class="form-group">
      <input
        type="text"
        name="username"
        class="form-control"
        required
        placeholder="Username"
        ng-minlength="6"
        ng-model="loginCtrl.user.username"
        uib-tooltip="must be at least 6 characters"
        tooltip-trigger="'focus'"
        tooltip-placement="top-right"
        tooltip-enable="loginForm.Submitted
          && loginForm.username.$invalid"
        tooltip-is-open="loginForm.$submitted
          && loginForm.username.$invalid
          && loginForm.username.$focus">
    </div>

    <div
      ng-class="{
        'has-error': loginform.password.$invalid && loginForm.submitted,
        'has-success': loginForm.password.$valid,
      }"
      class="form-group">
      <input
        type="password"
        name="password"
        class="form-control"
        required
        placeholder="Password"
        ng-minlength="8"
        ng-model="loginCtrl.user.password"
        ng-disabled="login.username.$invalid"
        uib-tooltip="must be at least 8 characters"
        tooltip-trigger="'focus'"
        tooltip-placement="bottom-right"
        tooltip-enable="loginForm.Submitted
          && loginForm.password.$invalid"
        tooltip-is-open="loginForm.$submitted
          && loginForm.password.$invalid
          && loginForm.password.$focus">
    </div>

    <button
      class="btn btn-primary">
      Login
    </button>

  </form>

</section>
