<main class="home">

  <create-gallery></create-gallery>

  <ul>

    <li ng-repeat="gallery in homeCtrl.galleries">
      <p> {{gallery.name}} </p>
      <p> {{gallery.desc}} </p>
      <p> {{gallery._id}} </p>

      <button
        class="btn btn-primary"
        ng-click="homeCtrl.deleteGallery(gallery._id)"> Delete </button>

      <form
        name="updateForm"
        ng-submit="homeCtrl.updateGallery(gallery._id, updateForm.gallery)"
        novalidate>

        <input
          type="text"
          name="name"
          class="form-control"
          placeholder="Name"
          ng-model="updateForm.gallery.name"
          uib-tooltip="Update Name"
          tooltip-trigger="'focus'"
          tooltip-placement="top-right"
          tooltip-is-open="updateForm.name.$focus">

        <input
          type="text"
          name="desc"
          class="form-control"
          placeholder="Description"
          ng-model="updateForm.gallery.desc"
          uib-tooltip="Update Description"
          tooltip-trigger="'focus'"
          tooltip-placement="bottom-right"
          tooltip-is-open="updateForm.desc.$focus">

        <button class="btn btn-primary"> Update </button>

    </li>

  </ul>

</main>
