
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="../../image/codefellows.png"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#" class="btn" role="button">Home</a></i>
      <li><a href="#" class="btn" role="button">Contact</a></i>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="btn btn-warning btn-sm" role="button" ng-click="navbarCtrl.signin()">{{navbarCtrl.btnTitle}}</a></i>
      <li ng-if="showLogout"><a class="btn btn-warning btn-sm" role="button" ng-click="navbarCtrl.logout()">{{navbarCtrl.btnTitle}}</a></i>
    </ul> 
  </div>
</nav>
